.gerentwo{
    height: 70px;
    width: 100%;
    display: flex;
    p{
    height: 70px;
    font-size: 15px;
    line-height: 70px;
    margin: 0;
    padding-left: 5%;
    }
    img{
        padding-right: 2%;
        padding-left: 60%;
    }
    .gerentwop{
    height: 70px;
    font-size: 15px;
    line-height: 70px;
    margin: 0;
    padding-left: 62%;
    padding-right: 2%;
    }
}