.touxiang button:nth-child(1){
    border: 0;
    width: 150%;
    height: 50px;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 15%;
}
.touxiang button:nth-child(2){
    border: 0;
    width: 36%;
    height: 60px;
    border-radius: 10px;
    margin-left: 30%;
}