.searchRes{
    .search-ipt{
        display: flex;
        align-items: center;
        margin: 5px auto;
        .left-icon{
            margin-left: 5px;
            font-size: 25px;
        }
        .rv-search{
            width: 340px;
        }
    }
    .resList{
        ul{
            list-style: none;
            padding-left: 0;
            li{
                display: inline-block;
                width: 163px;
                margin-left: 17px;
                border-radius: 8px;
                vertical-align: top;
                background-color: #EDEFF4;
                img{
                    width: 100%;
                    height: 100%;
                }
                p{
                    margin-left: 8px;
                }
                .desc{
                    margin-left: 8px;
                    .sp1{
                        color: #FF8800;
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .sp2{
                        color: #999999;
                        font-size: 12px;
                        margin-left: 5px;
                    }
                }
                .user{
                    display: flex;
                    align-items: center;
                    margin-left: 8px;
                    img{
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
}