.search{
    .search-ipt{
        display: flex;
        align-items: center;
        margin-top: 5px;
        .left-icon{
            margin-left: 5px;
            font-size: 25px;
        }
        .rv-search{
            width: 340px;
        }
    }
    .hot-search{
        margin-top: 30px;
        margin-left: 18px;
        p{
            font-size: 16px;
            font-weight: bold;
        }
        .hotSearch-content{
            ul{
                list-style: none;
                padding-left: 0;
                li{
                    // width: 75px;
                    margin: 10px 10px;
                    /* height: 52px; */
                    padding: 7px;
                    font-size: 16px;
                    text-align: center;
                    // background-color: #EDF1F2;
                    background-color: #e5e5e5;
                    color: #666666;
                    border-radius: 5px;
                    display: inline-block;
                }
            }
        }
        
    }
    .history-search{
        margin-top: 30px;
        margin-left: 18px;
        p{
            font-size: 16px;
            font-weight: bold;
        }
        .searchHis-content{
            ul{
                list-style: none;
                padding-left: 0;
                li{
                    // width: 75px;
                    margin: 10px 10px;
                    /* height: 52px; */
                    padding: 7px;
                    font-size: 16px;
                    text-align: center;
                    // background-color: #EDF1F2;
                    background-color: #e5e5e5;
                    color: #666666;
                    border-radius: 5px;
                    display: inline-block;
                }
            }
        }
    }

}